{% extends 'base.html' %}
{% load static %}


{% block content %}
    <div class="infomentics">
                <div class="textIn">
                    <p>Donate Today.</p>
                    <p>Join the people around you.</p>
                    <h1 class="large_Heading">Blood Bank Club</h1>
                    <p>Lives matter.</p>

                </div>
                <div class="imageIn">
                    <img src="{% static 'images/picture.png' %}" alt="yogaPose.">
                </div>
    </div>
{% endblock content %}
    